
.container{
    display:flex;
    margin: 10px 0 0 0; 
}

.setbg{
    background-image: url('../Assets/Images/bg.jpg');
    background-repeat: repeat;
    width: 100%;
    height: 98vh;
}

/* Landing */

.landing-container{
    display: flex;
    height: 100%;
    width: 100%;
    /* background-color: white; */
    align-items: center;
    justify-content: center;
}

.landing-lottie{
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;

    @media only screen and (max-width: 950px){
        display: none;
    }
}

.landing-button-container{
    height: 25%;
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: start;
    padding-left: 3%;
}

.landing-text{
    height: 100%;
    width: 50%;
    justify-content: center;
    display: flexbox;
    padding: 5%;
    @media only screen and (max-width: 950px){
        width: 100%;
    }
}

.landing-text #main-text{
    /* background-color: red; */
    font-size: xxx-large;
    font-weight: 500;
    height: fit-content;
    width: 90%;
    color: #373b3f;
    margin-bottom: 10%;
    overflow: hidden;

    @media only screen and (max-width: 1350px) {
        font-size: xx-large;
    }

    
}

.landing-text #desc-text{
    /* background-color: red; */
    font-size: large;
    font-weight: 400;
    height: fit-content;
    width: 70%;
    color: #373b3f;
    padding-left: 3%;
    overflow: hidden;

    @media only screen and (max-width: 1350px) {
        font-size: medium;
    }
}

/* ends */

/* About */

.about-main-container{
    height: 85%;
    width: 100%;
    margin-top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

.about-me{
    height: 50%;
    width: 50%;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #d8d8d8;
    padding: 1%;
}

.about-me #heading{
    height: 20%;
    width: 100%;
    font-size: x-large;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 1%;
    font-weight: 500;
}

.about-me #description{
    height: 70%;
    width: 100%;
    padding: 1%;
}

.about-me #contact-me{
    height: 10%;
    width: 100%;
    padding-left: 1%;
    cursor: pointer;
    text-decoration: none;
}

/* ends */

.login-container{
    text-align: center;
    background-color: white;
    width: 600px; 
    border-radius: 15px;
    height: 550px; 
    box-shadow:1px 1px 1px 1px lightgray;
    margin: 50px 0 0 500px; 
    padding: 40px 20px 0 20px;
}

.login-heading{
    font-size: 32px;
    font-weight: 100;
    color: rgb(0, 0, 0); 
    margin: 60px 430px 10px 0; 
}

.logo-container{
    margin: 25px 0 0 15%; 
    height: 180px; 
    cursor: pointer; 
}

.register-button{
    background-color: #ff652f; 
    border: none; 
    height: 60px; 
    width: 130px;
    color: white; 
    border-radius: 5px; 
    font-size: larger;
    margin: 0 0 0 110px; 
    cursor: pointer; 
}

.recaptcha{
    margin: 0 0 0 25px;
}

.login-recaptcha{
    margin: 15px 0 25px 50px;
}


.heading{
    color: rgb(128, 128, 128);
    font-weight: 100;
    font-style: normal;
}



.lab{
    font-size: 24px;
    margin: 0 0 10px 0; 
}

.lab2{
    font-size: 20px;
    margin: 0 63% 10px 0 !important;
}

.lab2p{
    font-size: 20px;
    margin: 0 415px 10px 0 !important;
}

input {
    height: 50px;
    width: 350px; 
    border: 1px solid rgb(201, 195, 195); 
    border-radius: 5px;
    font-size: 24px;
}

input:focus{
    box-shadow: 0 1px 1px 1px lightblue;
}

.form-container{
    margin: 70px 0 0 -100px; 
}

.log-inp{
    width: 500px; 
    height: 45px;     
    margin: 0 0 10px 0; 
}

.login-button{
    width: 500px; 
    height: 45px;
    background-color: #1cc29f; 
    color: white; 
    font-size: 20px;
    border: none;
    border-radius: 5px;
    box-shadow:0 0 0 2px rgb(198, 198, 198);
    cursor: pointer; 
}

.login-button:hover{
    transform: translateY(2px);
    box-shadow: none;
}

.forgot-password{
    color: #1cc29f;
    font-size: large;
    font-weight:500;
    cursor: pointer; 
    font-size: 20px;
}

@media screen and (max-width: 750px) {
    .logo-container{display: none}
   
 }


